aside {
    background: white;
}

.openTable-logo {
    transition: transform .5s;
    position: relative;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    padding-bottom: 2.5%;
}

.openTable-logo:hover {
    transform: translateY(-7px);
    text-decoration: none;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}

.curbside-msg {
    line-height: 150%;
}



/*-------------Media Queries---------------*/

@media screen and (max-width: 995px) and (-webkit-min-device-pixel-ratio: 1) {

    .menuAside {
        display: none !important;
    }
}